header{
    color: rgb(240, 183, 200);
    background-color: rgb(236, 83, 134);
    
}
body{
    background-color: hotpink;
    color: rgb(240, 183, 200);
}
nav a{
    background-color: rgb(219, 57, 111);
}
/* div{
    background-color: rgb(236, 83, 134);} */

div div{
    background-color: rgb(236, 83, 134);
}