/* Nav tomfoolery */
nav{
    background-color:#CED4DA;
}
nav a{
    background-color: #DEE2E6;
}   
img{
    border-color:  #212529;
}
body{
    background-color: #F8F9FA;
}

div div{
    background-color: #6C757D;
}

.purple {
    border-color:  #6247AA;
    background-color: #C19EE0;
}
.pink{
    border-color: hotpink;
    background-color: lightpink;
}
.red{
    border-color:  #aa4747;
    background-color: #db8585;
}
.blue{
    border-color:  #4774aa;
    background-color: #67a6d9;
}

footer{
    background-color:#CED4DA;
}