/* Nav tomfoolery */
nav{
    background-color:#D2B7E5;

}
nav a{
    background-color: #B185DB;
}   
img{
    border-color:  #6247AA;

}
body{
    background-color: #DEC9E9;
}
div{
    background-color: #D2B7E5;
}
div div{
    background-color: #B185DB;
}
