header{
    color: #6247AA;
    font-weight: bold;
}

/* Nav tomfoolery */
nav{
    background-color:#C19EE0;
}
nav a{
    background-color: #B185DB;
}   
img{
    border-color:  #6247AA;
}
body{
    background-color: #DEC9E9;
}
div div{
    background-color: #C19EE0;
}
article h2{
    color: #6247AA;
    font-weight: bold;
}
footer{
    background-color:#C19EE0;
}