nav{
    background-color:#e5b7b7;

}
nav a{
    background-color: #db8585;
}   
img{
    border-color:  #aa4747;

}
body{
    background-color: #e9c9c9;
}
div{
    background-color: #e5b7b7;
}
div div{
    background-color: #db8585;
}

footer{
    background-color:#e5b7b7;

}